 .red-title {
   font-size: 2.2rem;
  margin-top: -8px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  width: fit-content;
  color: #ff6565;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: all 0.3s ease;
  border-bottom: 3px solid #e00505; 
  padding-bottom: 8px; 
}

/* Inputs estilizados */
.form-control {
  border: 2px solid #8eebd8;
  border-radius: 10px;
}

.form-select {
  border: 2px solid #8eebd8;
  border-radius: 10px;
}

.form-control:focus {
  border-color: #4fddc1;
  box-shadow: 0 0 0 3px #f6fffd(255, 179, 67, 0.2);
  background-color: #f6fffd;
}

.form-select:focus {
  border-color: #4fddc1;
  box-shadow: 0 0 0 3px #f6fffd(255, 179, 67, 0.2);
  background-color: #f6fffd;
}

label {
  font-weight: 500;
}