<!-- Spinner de carga -->
@if (isLoading) {
<div class="d-flex justify-content-center align-items-center" style="height: 200px;">
  <div class="spinner-border text-secondary" role="status" style="width: 3rem; height: 3rem;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>
}

@if (!isLoading) {
<div class="container mt-3">
  <div class="current-supplies">
    <h4 class="text-center green-title" style="margin-top: 10px;"><i class="fas fa-angle-double-up me-1"></i> Entradas
    </h4>

    <!-- FILTROS -->
    <div style="margin-top: -5px;" class="row mb-1">
      <div class="col-md-2">
        <label class="form-label">Fecha desde</label>
        <input type="date" class="form-control" [(ngModel)]="startDate" (ngModelChange)="onAnyFilterChange()" />
      </div>


      <div class="col-md-2">
        <label class="form-label">Fecha hasta</label>
        <input type="date" class="form-control" [(ngModel)]="endDate" (ngModelChange)="onAnyFilterChange()" />
      </div>

      <div class="col-md-3">
        <label class="form-label">Buscar insumo</label>
        <input type="text" class="form-control" placeholder="Ej: Arroz" (ngModelChange)="onAnyFilterChange()" 
          [(ngModel)]="searchSupplies">
      </div>

      <!-- ORDENAMIENTO -->
      <div class="col-md-2  ">
        <label class="form-label">Ordenar por...</label>
        <div class="d-flex align-items-center">

          <select class="form-select" [(ngModel)]="sortField" (ngModelChange)="onAnyFilterChange()">
            <option value="fecha">Fecha</option>
            <option value="costo">Costo</option>
            <option value="cantidad">Cantidad</option>
            <option value="nombre">Nombre</option>
          </select>

          <button class="green-btn" style="padding: 17px 5px 17px 5px;" (click)="toggleSortDirection(); onAnyFilterChange();">
            <i class="fas fa-lg"
              [ngClass]="sortDirection === 'asc' ? 'fa-arrow-up-short-wide' : 'fa-arrow-down-wide-short'"></i>
          </button>
        </div>
      </div>

      <!-- LIMPIAR FILTROS -->
      <div class="col-md-1 d-flex align-items-end">
        <button class="btn btn-primary" (click)="applyFilters()" [class.attention-pulse]="shouldAnimateApplyButton">
          Aplicar
        </button>
      </div>

      <div class="col-md-1 d-flex align-items-end">
        <!-- REGISTRAR Entrada -->
        <button style="margin-right: 20px; margin-left: -10px;" (click)="navigateToAddEntry()" class="green-btn">
          Registrar
        </button>
        <!-- pdf y excel -->
        <button (click)="exportExcel()" class="btn btn-success me-2">
          <i class="bi bi-file-earmark-excel"></i>
        </button>
        <button (click)="exportPdf()" class="btn btn-danger me-2"><i class="bi bi-file-earmark-pdf"></i></button>
      </div>
    </div>

    <!-- Tabla -->
    <div class="table-responsive">
      <table class="table green-table">
        <thead>
          <tr>
            <th style="color: #2ca58d;" scope="col">Insumo</th>
            <th style="color: #2ca58d; padding-left: 4.7rem;" class="cantidad-tabla" scope="col">Cantidad</th>
            <th style="color: #2ca58d;" class="fecha-tabla" scope="col">Fecha</th>
            <th class="cost-value" style="color: #2ca58d;" scope="col">Costo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of filteredEntries | paginate: { 
                                itemsPerPage: itemsPerPage,
                                currentPage: currentPage
                                }" class="supply-row">
            <!-- INSUMO -->
            <td style="padding: 19px;"><i class="fas fa-angle-double-up me-1" style="color: rgb(146, 221, 33);"></i> {{
              entry.supplyName }}
            </td>
            <!-- CANTIDAD -->
            <td style="padding: 19px; padding-left: 4.7rem;">
              <span class="quantity-bold">{{ entry.quantity }}</span>
              @if (entry.unit === 'KG') {
              <span class="unit-gray">kg</span>
              } @else if (entry.unit === 'LITRO') {
              <span class="unit-gray">L</span>
              } @else {
              <span class="unit-gray">unidades</span>
              }
            </td>
            <!-- FECHA -->
            <td style="padding: 19px;" class="fecha-tabla">
              {{ entry.entryDate | date:'dd/MM/yyyy' }}
            </td>
            <!-- COSTO si es que hay -->
            @if (entry.entryType === 'PURCHASE' && entry.cost) {
            <td class="cost-value">{{ entry.cost | currencyArs:'$':false }}</td>
            } @else {
            <td class="donation-pack">
              <span class="donation-badge">Donación</span>
            </td>
            }
          </tr>
        </tbody>
      </table>

      <!-- Controles de paginación -->
      <div class="text-center" style="margin-bottom: -9px;">
        <pagination-controls class="my-pagination" (pageChange)="currentPage = $event" previousLabel="Anterior"
          nextLabel="Siguiente"></pagination-controls>
      </div>
      <style>
        .my-pagination ::ng-deep .ngx-pagination .current {
          background: #2ca58d;
          color: white;
        }
      </style>
    </div>
  </div>

  <!-- FOOTER -->
  <div class=" text-center mt-5 mb-4">
    <a class="footer-link" style="color: #e79e36; text-decoration: none; margin-right: 10px;"
      routerLink="/terminos">Términos y Condiciones <i class="fas fa-external-link-alt fa-xs ms-1"
        aria-hidden="true"></i></a>
    <span> | </span>
    <a class="footer-link" style="color: #e79e36 ; text-decoration: none; margin-left: 10px;"
      routerLink="/preguntas">Preguntas Frecuentes <i class="fas fa-external-link-alt fa-xs ms-1"
        aria-hidden="true"></i></a>
  </div>
</div>
}