<div class="container-form mt-5 justify-content-center">

    <h2 class="text-center mb-4">
        <span class="text-orange">
            <i class="fas fa-check-circle"></i>
        </span>
        <span class="text-orange">¡Email validado!</span>
        <span class="animated-underline"></span>
    </h2>

    <form [formGroup]="formReactivo" (ngSubmit)="onSubmitForm()" class="">

        <!-- Contraseña -->
        <div class="col-md-12 mb-3">
            <label for="password" class="form-label">
                Nueva Contraseña
            </label>
            <div class="input-group">
                <span class="input-group-text text-orange">
                    <i class="fas fa-lock"></i>
                </span>
                <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control shadow-sm"
                    formControlName="password"
                    [ngClass]="{'is-invalid': formReactivo.get('password')?.invalid && formReactivo.get('password')?.touched}">
                <button class="btn btn-outline-brown" type="button" (click)="showPassword = !showPassword">
                    <i class="fas {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}"></i>
                </button>
            </div>

            <!-- ERRORES -->
            @if(formReactivo.get('password')?.invalid && formReactivo.get('password')?.touched) {
            @if(formReactivo.get('password')?.hasError('required')) {
            <div class="text-danger align-self-end" style="width: 500px;">Contraseña es requerido
            </div>
            }
            @if(formReactivo.get('password')?.hasError('maxlength')) {
            <div class="text-danger align-self-end" style="width: 500px;">Demasiados caracteres
            </div>
            }
            @if(formReactivo.get('password')?.hasError('minlength')) {
            <div class="text-danger align-self-end" style="width: 500px;">El mínimo son 8 caracteres
            </div>
            }
            @if(formReactivo.get('password')?.hasError('AtLeastOneMayus')) {
            <div class="text-danger align-self-end" style="width: 500px;">Debe haber al menos una
                letra mayúscula
            </div>
            }
            @if(formReactivo.get('password')?.hasError('AtLeastOneMinus')) {
            <div class="text-danger align-self-end" style="width: 500px;">Debe haber al menos una
                letra minúscula
            </div>
            }
            @if(formReactivo.get('password')?.hasError('AtLeastOneNumber')) {
            <div class="text-danger align-self-end" style="width: 500px;">Debe haber al menos un
                número</div>
            }
            @if(formReactivo.get('password')?.hasError('AtLeastOneEspecialCarac')) {
            <div class="text-danger align-self-end" style="width: 500px;">Debe haber al menos un
                caracter especial
            </div>
            }
            @if(formReactivo.get('password')?.hasError('WhiteSpaceError')) {
            <div class="text-danger align-self-end" style="width: 500px;">No pueden haber espacios
                en blanco</div>
            }
            }

        </div>

        <!-- Repeat Contraseña -->
        <div class="col-md-12 mb-4">
            <label for="rPassword" class="form-label"> Repetir Contraseña </label>
            <div class="input-group">
                <span class="input-group-text text-orange">
                    <i class="fas fa-lock"></i>
                </span>
                <input [type]="showPasswordRepeat ? 'text' : 'password'" id="rPassword"
                    class="form-control shadow-sm" formControlName="repeatPassword"
                    [ngClass]="{'is-invalid': ((formReactivo.get('repeatPassword')?.invalid || formReactivo.hasError('passwordMismatch')) && formReactivo.get('repeatPassword')?.touched) }">
                <button class="btn btn-outline-brown" type="button"
                    (click)="showPasswordRepeat = !showPasswordRepeat">
                    <i class="fas {{ showPasswordRepeat ? 'fa-eye-slash' : 'fa-eye' }}"></i>
                </button>
            </div>

            <!-- ERRORES -->
            @if ((formReactivo.get('repeatPassword')?.invalid ||
            formReactivo.hasError('passwordMismatch')) &&
            formReactivo.get('repeatPassword')?.touched) {
            @if(formReactivo.get('repeatPassword')?.hasError('required') &&
            !formReactivo.hasError('passwordMismatch')){
            <div class="text-danger align-self-end" style="width: 500px;">Repetir contraseña es
                requerido</div>
            } @else {
            <div class="text-danger align-self-end" style="width: 500px;">Las contraseñas no
                coinciden</div>
            }
            }

        </div>

        <!-- BOTON ESTABLECER -->
        <button type="submit" class="btn next-btn mb-3 w-100" [disabled]="isFormInvalid">
            Establecer Nueva Contraseña
        </button>
    </form>
</div>